.clients {
    // @include centerFlex();
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


}

.client-section {

    @media screen and (min-width: 480px) {
            padding: 60px 0;
    }

            @media screen and (min-width: 1200px) {
                    padding-bottom: 94px;
                        padding-top: 94px;
            
                }
        
}

.clients__link {
  @include centerFlex();
    // width: 170px;
    width: 100%;
    height: 92px;
    outline: transparent;
    fill: $color-icon;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition: border-color $animation;

&:hover,
&:focus {
        border-color: $accent-color;

    }

&:hover .clients__icon,
&:focus .clients__icon {
    fill: $accent-color;
    transition: fill $animation;
}

}

// .clients__item:not(:last-child) {
//     margin-right: 30px;
// }

.client {
    font-weight: $font-weight-700;
    font-size: $font-size-36;
    line-height: $line-height-117;
    letter-spacing: 0.03em;
    // margin-bottom: 50px;

}

.client.centered {
    text-align: center;


    @media screen and (min-width: 480px) {
            margin-bottom: 30px;
        }

                  @media screen and (min-width: 1200px) {
                    margin-bottom: 50px;
        
                  }
}


.clients__icon {
    transition: fill $animation;
}

.clients__item {
@media screen and (min-width: 480px) {
        width: calc((100% - 60px) / 2);

    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3);

    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 180px) / 6);

    }
}