.example-photo {
    display: flex;
    flex-wrap: wrap;

&__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    box-sizing: border-box;

&:hover,
&:focus {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow $animation;
    }
}
}

.example-photo__item:nth-child(3n) {
    margin-right: 0;
}

.example-photo__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.text-content {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;

    &__name {
    color: $secondary-color;
    font-size: $font-size-16;
    line-height: $line-height-188;
    letter-spacing: 0.03em;

}
}

.text-content__project {
    font-weight: $font-weight-700;
    font-size: $font-size-18;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}

.example-photo__description {
    display: block;
    position: absolute;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: $line-height-156;
    letter-spacing: 0.03em;
    color: $title-color;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transition: transform $animation;

}



.example-photo__link {
    display: block;
    transition: box-shadow $animation;

&:hover,
&:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    }
&:hover .example-photo__description,
&:focus .example-photo__description {
    transform: translateY(-100%);
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
}

.example-photo__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform $animation;

}

.example-photo__thumb {
    position: relative;
    overflow: hidden;

}