.works {
    padding-top: 0px;
}

.work {
    display: flex;
}

.work__item {
    width: calc(100% - 60px) / 3;
    margin-right: 30px;

    &:last-child {
    margin-right: 0px;
}
}
.work__text {
@include centerFlex();
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: $title-color;
    font-family: $font-family-primary;
    font-weight: $font-weight-700;
    font-size: $font-size-14;
    text-align: center;
    line-height: $line-height-117;
    letter-spacing: 0,03em;
    text-transform: uppercase;

}


.section .work__item {
    position: relative;
}


.caption.centered {
    text-align: center;
    margin-bottom: 50px;
}